
<ion-view view-title="eReg Nigeria - Insurance Simplified">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Welcome to eReg Nigeria</strong>
        </div>
        <div class="im-wrapper">
            <!-- Ionic Components -->
            <h4 class="border-top">
                <i class="icon ion-ionic"></i>
                Offender Report
            </h4>
           
            <p><iframe style="visibility: hidden; display: none;" name="targetframe" src="http://www.eregnigeria.com/enforce" frameborder="0" scrolling="no"> </iframe></p>

            
            
            
            
        </div>
        <br />
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>
