
<ion-view view-title="eReg Nigeria - Insurance Simplified">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Welcome to eReg Nigeria</strong>
        </div>
        <div class="im-wrapper">
            <!-- Ionic Components -->
            <h4 class="border-top">
                <i class="icon ion-ionic"></i>
                Offender Report
            </h4>
            <p>No need to add new styling! Ionic Material includes <strong>all</strong> <a href="http://ionicframework.com/docs/components/" target="_blank" class="link">Ionic components</a> out of the box, closely themed to the Google Material Design spec.</p>
            <p>View the <a href="../demo/www/index.html"><strong>DEMO APP</strong></a> "Thronester" in /demo/www/ to see how things can be pieced together (notice: it does push the limits on Android).</p>
            <p>
                <em>Ionic Material aims to provide Ionic with the "...visual language [that] synthesizes the classic principles of good design with the innovation and possibility of technology and science."</em>
            </p>
            
            
            
            
            
        </div>
        <br />
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>
